.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #c75d2c;
}

p {
  font-size: 2rem;
  color: #c75d2c;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}
button {
  padding: 10px 20px;
  background-color: #c75d2c;
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.buttonContainer {
  text-align: center;
  margin-top: 50px;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
  .dice {
    text-align: center;
    display: inline-block;
  }

  img {
    margin: 20px;
    max-width: 100px;
    width: auto;
    height: auto;
  }

  button {
    font-size: 1.2rem;
    padding: 8px 16px;
  }

  footer {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 3rem;
    margin: 20px;
    white-space: nowrap;
  }
  img {
    max-width: 100px;
    margin: 20px;
    width: auto;
    height: auto;
  }

  button {
    font-size: 1.2rem;
    padding: 8px 16px;
  }
}
